body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  btn-outline-light{

    border-radius: 30px;
    padding: 12px 15px 11px;
  }

  .buttons{
    margin-left: 1vw;
  }

  .logoBar{
    margin-left: 4vw;
  }

  .image-info{
    margin-top: 4vw;
    
  }